{
  "name": "{{name}}",
  "version": "{{version}}",
  "description": "{{description}}",
  "author": {
    "name": "{{author_name}}",
    "email": "{{author_email}}"
  },
  "homepage": "{{homepage}}",
  "repository": "{{repository}}",
  "license": "See LICENSE",
  "keywords": {{keywords_json}},
  "category": "{{category}}"
}
